jmodels/jmodelYopi/.vs/
*.user
*.userosscache*.sln.docstates
*.suo
jmodels/jmodelYopi/.vs/jmodelYopi/v16/Browse.VC.db
jmodels/jmodelYopi/.vs/jmodelYopi/v16/Browse.VC.db-shm
jmodels/jmodelYopi/.vs/jmodelYopi/v16/Browse.VC.db-wal
jmodels/jmodelYopi/.vs/jmodelYopi/v16/Browse.VC.opendb
jmodels/jmodelYopi/Release/jmodelyopi007.pdb
jmodels/jmodelYopi/out/Release/jmodelYopi.log
jmodels/jmodelYopi/out/Release/jmodelYopi.obj
jmodels/jmodelYopi/out/Release/jmodelYopi.tlog/jmodelYopi.write.1u.tlog
jmodels/jmodelYopi/out/Release/vc142.pdb
jmodels/jmodelYopi/out/Release/version.res
jmodels/jmodelYopi/Release/
