jmodels/jmodelYopi/.vs/
*.user
*.userosscache*.sln.docstates
*.suo
jmodels/jmodelYopi/.vs/jmodelYopi/v16/Browse.VC.db
jmodels/jmodelYopi/.vs/jmodelYopi/v16/Browse.VC.db-shm
jmodels/jmodelYopi/.vs/jmodelYopi/v16/Browse.VC.db-wal
jmodels/jmodelYopi/.vs/jmodelYopi/v16/Browse.VC.opendb
